@charset "UTF-8";
a:hover {
  text-decoration: none;
  color: #F60;
}

.minchoFont, .section2-textbox_detail, .section3-content_detail, .section4-container_detail, .section5-content_detail, .section6-detail, .section6-content_detail {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 1rem;
  line-height: 32px;
  text-align: justify;
}

.gothicFont, .section1-title, .section2-textbox_title, .section3-title, .section3-content_title, .section4-title, .section4-container_title, .section5-title, .section5-content_title, .section6-title, .section6-subtitle, .section6-content_title, .section6-content_subtitle, .section6-content_link, .section7-title, .section7-content_title, .section8-title, .section8-content_detail, .footer-title {
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
}

body {
  background-color: #170E09;
}

.section1 {
  width: 100%;
  height: 100vh;
  background-image: url(../img/Mainimg.jpg);
  background-size: cover;
  position: relative;
}

.section1-title {
  font-size: 2.25rem;
  font-weight: normal;
  color: #fff;
  position: absolute;
  bottom: 150px;
  left: 30px;
}

.section1-title_br {
  display: none;
}

.section1-logobox {
  position: absolute;
  top: 50px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1-logobox_svg {
  width: 162px;
}

.section1-logobox_title {
  color: #fff;
  margin-top: 4px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 24px;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2-textbox {
  width: 680px;
  margin-bottom: 100px;
}

.section2-textbox_title {
  margin-top: 150px;
  text-align: center;
  color: #F60;
  line-height: 52px;
  font-weight: bold;
}

.section2-textbox_detail {
  color: #fff;
  width: 430px;
  margin: 60px auto 12px auto;
}

.section2-img {
  display: block;
  width: calc(100% - 680px);
  background-image: url(../img/section2-img.jpg);
  background-position: center;
  background-size: cover;
}

.section3 {
  margin-top: 100px;
}

.section3-title {
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.section3-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section3-content {
  margin-top: 90px;
  max-width: 500px;
}

.section3-content_title {
  color: #fff;
  margin: auto;
  margin-top: 76px;
  text-align: center;
  line-height: 2rem;
}

.section3-content_detail {
  color: #fff;
  margin-top: 60px;
}

.section3-content_img {
  width: 500px;
}

.section4 {
  width: 100%;
}

.section4-title {
  color: #fff;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 80px;
}

.section4-container {
  position: relative;
}

.section4-container_content {
  width: 900px;
}

.section4-container_img {
  display: block;
  width: 760px;
  margin: auto;
}

.section4-container_title {
  margin-top: 85px;
  margin-bottom: 35px;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.section4-container_detail {
  color: #fff;
  width: 840px;
  margin: auto;
}

.swiper-container {
  width: 100%;
  height: 1000px;
}

.swiper-button-prev {
  left: 20%;
  top: 250px;
}

.swiper-button-next {
  right: 20%;
  top: 250px;
}

.navigation.nextEl {
  top: 10px;
}

.section5-title {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.section5-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

.section5-content {
  width: 325px;
}

.section5-content_img {
  width: 100%;
}

.section5-content_title {
  color: #fff;
  margin-top: 20px;
  font-size: 1rem;
}

.section5-content_detail {
  color: #fff;
  line-height: 24px;
}

.section6 {
  color: #fff;
  margin-top: 100px;
}

.section6-title {
  text-align: center;
}

.section6-detail {
  width: 900px;
  margin: auto;
  margin-top: 45px;
}

.section6-subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 100px;
}

.section6-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section6-content {
  position: relative;
  width: 650px;
  background-color: #3D312B;
  border: 1px solid #F60;
  border-radius: 10px;
  margin-top: 80px;
}

.section6-content_title {
  margin-top: 50px;
  margin-left: 95px;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.section6-content_subtitle {
  margin-left: 95px;
}

.section6-content_detail {
  display: block;
  width: 600px;
  margin: auto;
  margin-top: 37px;
  margin-bottom: 22px;
}

.section6-content_link {
  color: #000;
  font-size: 1rem;
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 9px 23px 7px 22px;
  background-color: #fff;
  border-radius: 20px;
}

.section7 {
  color: #fff;
}

.section7-title {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 160px;
}

.section7-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(375px * 4 + 40px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.section7-content {
  margin: 5px;
}

.section7-content_link {
  display: block;
  position: relative;
  color: #fff;
}

.section7-content_title {
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  bottom: 8px;
  left: 11px;
  margin-bottom: 0;
  text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.6);
}

.section8 {
  color: #fff;
}

.section8-title {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 180px;
}

.section8-link {
  display: block;
  width: 720px;
  margin: auto;
  color: #fff;
}

.section8-link:hover {
  color: #F60;
}

.section8-content {
  margin-top: 30px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section8-content:hover {
  border: 2px solid #F60;
}

.section8-content_img {
  margin: 30px 45px;
  width: 160px;
}

.section8-content_detail {
  vertical-align: middle;
  font-size: 1.5rem;
  height: 4.5rem;
  margin: auto;
}

.footer {
  color: #fff;
}

.footer-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
}

.footer-img {
  width: 30px;
}

.footer-title {
  font-size: 1rem;
  height: 1.5rem;
  font-weight: bold;
  margin: auto 10px;
}

.footer-flexbox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.footer-link {
  color: #fff;
  width: 80px;
}

.footer-link:first-child {
  margin-right: 75px;
}

.footer-copyright {
  display: block;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 110px;
}

@media screen and (max-width: 1440px) {
  .section3-content {
    max-width: 300px;
    width: 300px;
  }
  .section3-content_img {
    display: block;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 1300px) {
  .section2-textbox {
    width: 580px;
  }
  .section2-img {
    width: calc(100% - 580px);
  }
  .swiper-button-prev {
    left: 10%;
    top: 250px;
  }
  .swiper-button-next {
    right: 10%;
    top: 250px;
  }
  .section6-flexbox {
    display: block;
  }
  .section6-content {
    margin: auto;
    margin-top: 80px;
  }
}

@media screen and (max-width: 980px) {
  .section1-title {
    font-size: 1.8rem;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .section5-flexbox {
    display: block;
    margin-top: 0;
  }
  .section5-content {
    margin: auto;
    margin-top: 100px;
  }
  .section5-content_imgbox {
    height: 325px;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 768px) {
  .section2 {
    display: block;
    margin-top: 300px;
  }
  .section2-textbox {
    width: 100%;
  }
  .section2-textbox_detail {
    width: 90%;
  }
  .section2-img {
    margin-top: 200px;
    width: 100%;
    height: 56.5vh;
  }
  .section3 {
    margin-top: 200px;
  }
  .section3-flexbox {
    display: block;
  }
  .section3-content {
    max-width: 100%;
    width: 100%;
  }
  .section3-content_detail {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .section3-content:nth-child(n + 2) {
    margin-top: 200px;
  }
  .section4-container_img {
    width: 100%;
  }
  .section4-container_detail {
    width: 95%;
  }
  .section6-detail {
    width: 95%;
  }
}

@media screen and (max-width: 414px) {
  .section1-title {
    font-size: 1rem;
  }
  .section1-title_br {
    display: inline;
  }
  .section1-logobox {
    display: block;
    top: 20px;
    right: 14px;
  }
  .section1-logobox_svg {
    margin: auto;
  }
  .section1-logobox_title {
    font-size: 1rem;
    margin-left: 0;
  }
  .section3-content_detail {
    margin: auto;
    margin-top: 60px;
  }
  .swiper-container {
    height: 800px;
  }
  .section6-content {
    width: 100%;
    text-align: center;
  }
  .section6-content_title {
    margin-top: 50px;
    margin-left: 0;
  }
  .section6-content_subtitle {
    margin-left: 0;
  }
  .section6-content_detail {
    width: calc(100% - 50px);
    margin-top: 37px;
    margin-bottom: 28px;
    text-align: left;
  }
  .section6-content_link {
    position: relative;
    display: inline-block;
    top: auto;
    right: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .section7-content {
    margin: 0;
    width: 100%;
  }
  .section7-content_img {
    width: 100%;
  }
  .section8-link {
    width: calc(100% - 35px);
  }
  .section8-content {
    display: block;
  }
  .section8-content_img {
    display: block;
    margin: 20px auto 30px auto;
  }
  .section8-content_detail {
    font-size: 1rem;
    text-align: center;
  }
}
